html, body {
  width: 100%;
  height: 100%;
}

h1, h2 {
  font-size: 2.5rem;
  text-align: center;
}

h2, li {
  font-size: 1.5rem;
}

.select {
  line-height: 84px!important;
  font-size: 1.5rem!important;
  height: 88px!important;
}

.name {
  font-size: 1.5rem!important;
  padding-bottom: 2px!important;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ol {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

li {
  padding: 1rem;
}

li button {
  padding: .5rem;
  margin-left: .5rem;
  margin-right: .5rem;
  height: 2rem;
  width: 3rem;
  border-radius: 5px;
  background-color: #d33a30;
  color: white;
}

li button a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

.remove_buttons_keep {
  width: 8rem;
  height: 4rem;
  border-radius: 5px;
  display: block;
  margin: 1rem auto;
  background-color: teal;

}

.remove_button_delete {
  width: 8rem;
  height: 4rem;
  border-radius: 5px;
  display: block;
  margin: 1rem auto;
  background-color: #d33a30;
}

.remove_buttons_div {
  margin-top: 8rem;
}
